
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .clip-path {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
 }

 .swiper-button-prev {
  @apply flex px-[5%] text-white;
}
.swiper-button-next {
  @apply flex px-[5%] text-white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply opacity-30 text-white font-thin;
}

.swiper-pagination-bullet {
  @apply bg-slate-300;
}
.swiper-pagination-bullet-active {
  @apply text-white via-white from-white ring-white caret-white fill-white accent-white;
}
/* @layer utilities {
    * {   --tw-clip-polygon: var(--tw-clip-polygon-a), var(--tw-clip-polygon-b), var(--tw-clip-polygon-c), var(--tw-clip-polygon-d);
    --tw-clip-polygon-a: 0 0;
    --tw-clip-polygon-b: 100% 0;
    --tw-clip-polygon-c: 100% 100%;
    --tw-clip-polygon-d: 0 100%;
    }
  
    .clip.polygon.a-3 {
      --tw-clip-polygon-a: 0 2.25rem;
    }
  
    .clip.polygon.b-3 {
      --tw-clip-polygon-b: 100% 2.25rem;
    }
  
    .clip.polygon.c-3 {
      --tw-clip-polygon-c: 100% calc(100% - 2.25rem);
    }
  
    .clip.polygon.d-3 {
      --tw-clip-polygon-d: 0 calc(100% - 2.25rem);
    }
  
    .clip.polygon {
      clip-path: polygon(var(--tw-clip-polygon));
    }
  } */

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }